@charset "utf-8";

/* color setting
------------------------------------*/
$cBk1: #333;
$cBk2: #222;
$cWht: #fff;
$cGr0: #f6f6f6;
$cGr1: #e3e3e3;
$cGr2: #bbb;
$cGr3: #ddd;

$cRed: #eb0c0c;
$cBlu: #0087ac;
$cGreen: #7fa329;