@charset "utf-8";

/* color setting
------------------------------------*/
$cBk1: #333344;
$cBk2: #222;
$cBk3: #333d42;
$cBk4: #182227;
$cWht: #fff;
$cGr0: #f6f6f6;
$cGr1: #e3e3e3;
$cGr2: #bbb;
$cGr3: #ddd;
$cGr4: #f9f9f9;
$cGr5: #666;

$cRed: #eb0c0c;
$cBlu: #0087ac;
$cGreen: #7fa329;
$cYellow: #ffd700;