@charset "utf-8";

/* color import setting
------------------------------------*/
@import 'common/colors';





/* web font setting
------------------------------------*/
@font-face {
  font-family: "Zen Old Mincho";
  font-weight: 400;
  src: url("../../font/400_ZenOldMincho-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Zen Old Mincho";
  font-weight: 500;
  src: url("../../font/500_ZenOldMincho-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Zen Old Mincho";
  font-weight: 600;
  src: url("../../font/600_ZenOldMincho-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Zen Old Mincho";
  font-weight: 700;
  src: url("../../font/700_ZenOldMincho-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Zen Old Mincho";
  font-weight: 900;
  src: url("../../font/900_ZenOldMincho-Black.woff") format("woff");
  font-display: swap;
}





/* common setting
------------------------------------*/
html {
  line-height: 1.4;
  text-align: left;
  letter-spacing: 0.05em;
  font-family: "Zen Old Mincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "Yu Mincho", "YuMincho", "MS PMincho", serif;
  font-size: 62.5%;
  color: $cBk1;
}

body {
  background: $cWht;
	font-size: 10px;
	font-size: 1.0rem;
	-webkit-text-size-adjust: 100%;
}

img {
	width: 100%;
	line-height: 0;
}

a {
  transition: opacity .6s ease;
  &:hover,
  &:hover img {
    opacity: 0.7;
  }
  &:link,
  &:visited {
    text-decoration: none;
    color: $cBk1;
  }
  &[href^="tel:"] {
    pointer-events: none;
    cursor: default;
  }
}

.onlySR, /* Screen Readerç”¨ */
.onlySP {
	display: none;
}

main {
  margin: 0 auto;
  width: 100%;
}





/* header setting
------------------------------------*/
#siteHeader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  box-sizing: border-box;
  width: 100vw;
  min-width: 100vw;
  height: 90px;
  background: transparent;
  transition: background 0.3s ease, backdrop-filter 0.3s ease;
  
  &.scrolled {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  
  .inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    
    .header-logo {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
      margin: 0 0 0 1.667%;
      
      svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 44px;
        height: auto;
        max-width: 100%;
        flex-shrink: 0;
        opacity: 0;
        filter: blur(10px);
        visibility: hidden;
        will-change: opacity, filter;
        transform: translateZ(0);
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        transition: opacity 0.6s ease-out, filter 0.6s ease-out, visibility 0.6s ease-out;
      }
      
      em {
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        color: $cBk3;
        white-space: nowrap;
        opacity: 0;
        filter: blur(10px);
        visibility: hidden;
        will-change: opacity, filter;
        transform: translateZ(0);
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        transition: opacity 0.6s ease-out, filter 0.6s ease-out, visibility 0.6s ease-out;
      }
      
      span {
        display: block;
        padding: 0 0 0 2px;
        font-weight: 600;
        font-size: 11px;
        color: $cBk3;
        white-space: nowrap;
      }
      
      &.visible {
        padding: 0 0 0 50px;
        svg,
        em {
          opacity: 1;
          filter: blur(0);
          visibility: visible;
          will-change: auto;
        }
      }
      
    }
    
    [aria-label="headerNav"] {
      display: flex;
      justify-content: flex-end;
      width: 60%;
      
      > ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0;
        width: 63.333%;
        max-width: 570px;
        min-width: 405px;
        height: 100%;
        
        > li {
          width: 17.5%;
          max-width: 100px;
          min-width: 85px;
          a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 90px;
            line-height: 1.4;
            font-weight: 500;
            font-size: 14px;
            color: $cBk2;
            text-decoration: none;
            text-align: center;
            transition: background 0.3s ease, color 0.3s ease;
            
            &:link,
            &:visited {
              color: $cBk2;
            }
            
            &:hover {
              background: $cGr0;
              color: $cBk1;
            }

            small {
              display: block;
              margin: 2px 0 0;
              font-size: 10px;
              color: $cBlu;
            }
            
            &.btnContact {
              background: $cGreen;
              font-weight: 600;
              font-size: 14px;
              color: $cWht;
              
              &:link,
              &:visited {
                color: $cWht;
              }
              
              &:hover {
                background: darken($cGreen, 10%);
                color: $cWht;
                opacity: 0.9;
              }

              small {
                color: $cWht;
              }
              
            }
          }
          &:nth-child(5) {
            width: 35.5%;
            max-width: 202.5px;
            min-width: 150px;
            margin-left: auto;
          }
        }
      }
      > dl {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: $cWht;
        width: 35.526%;
        max-width: 330px;
        min-width: 300px;
        text-align: center;
        font-size: 12px;
        
        dt {
          white-space: nowrap;
          span {
            display: block;
            margin: 0 0 7px;
            font-size: 11px;
          }

          em {
            display: block;
            margin: 0 0 7px;
            font-size: 23.75px;
            
            svg {
              display: inline-block;
              vertical-align: middle;
              width: 23.5px;
              height: 23.5px;
              margin: -8px 0 0;
              flex-shrink: 0;
            }
          }
        }

        dd {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          gap: 18px;
          font-size: 9px;
        }
      }
    }
    
  }
}





/* footer setting
------------------------------------*/
footer {
  background: url("../../img/common/bg_footer_pc.webp") no-repeat center center / cover;
  width: 100%;
  padding: 80px 0 30px;
  font-size: 14px;
  color: $cWht;
  
  > .inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
    max-width: 985px;
    
    #footerContent {
      width: 50%;

      [aria-label="footerNav"] {
        flex: 1;
        
        > ul {
          display: flex;
          gap: 43px;
          margin: 0 0 55px;
          
          > li {
            position: relative;

            &:not(:last-child) {

              &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: -35px;
                transform: translateY(-50%) rotate(-45deg);
                display: block;
                background: $cWht;
                width: 25px;
                height: 1.5px;
              }

            }

            > a {
              position: relative;
              display: block;
              font-weight: 500;
              font-size: 14px;
              color: $cWht;
              transition: opacity 0.3s ease;
              
              &:link,
              &:visited {
                color: $cWht;
              }
              
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
      }
        
      > p {
        a {
          display: flex;
          align-items: center;
          gap: 10px;
          margin: 0 0 10px;
  
          svg {
            width: 57px;
            height: auto;
          }
  
          em {
            font-weight: 700;
            font-size: 29px;
            color: $cWht;
          }
        }
      }
      
      dl {
        display: flex;
        align-items: center;
        gap: 45px;
        margin: 30px 0;
        font-size: 12px;
          
        dt {
          position: relative;
          width: 62.5px;
          text-align: right;
          white-space: nowrap;

          &::after {
            content: '';
            position: absolute;
            top: -17.5px;
            right: -25px;
            display: block;
            border-radius: 1px;
            background: $cWht;
            width: 2px;
            height: 50px;
          }
        }
          
        dd {
          line-height: 1.667;
        }
      }
    }

    iframe {
      border-radius: 4px;
      margin: 0 0 35px;
      width: 47.7%;
      height: 300px;
    }
    
    .copyright {
      width: 100%;
      text-align: right;
      font-size: 14px;
      color: $cWht;
    }
  }
}





/* common parts setting
------------------------------------*/





/* ------------------------------------------------------------------------
	Ajustment For Window 1000 
------------------------------------------------------------------------ */
@media screen and (max-width: 1000px) {
  main {
    box-sizing: border-box;
  }
  
  



  /* header setting
  ------------------------------------*/
  #siteHeader {
    .inner {
      .header-logo {
        
        em {
          font-size: 20px;
        }
        
        span {
          font-size: 10px;
        }
        
      }
      
      [aria-label="headerNav"] {
        > ul {
          min-width: 290px;
          > li {
            width: 20%;
            min-width: 60px;
            a {
              font-size: 12px;
              
              small {
                font-size: 10px;
              }
              
              &.btnContact {
                font-size: 12px;
              }
            }
            &:nth-child(4) {
              min-width: 90px;
            }
          }
        }
        dl {
          min-width: 180px;
          dt {
            em {
              margin: 0 0 5px;
              font-size: 16px;
              svg {
                width: 16.5px;
                height: 16.5px;
                margin: -5px 0 0;
              }
            }
          }
          dd {
            display: block;
            p {
              margin: 2px 0;
            }
          }
        }
      }
    }
  }
  
  
  
  
  
  /* footer setting
  ------------------------------------*/
  footer {
    > .inner {
      box-sizing: border-box;
    }
  }
}
  
  
  
  

/* ------------------------------------------------------------------------
	Ajustment For Smart Phone 
------------------------------------------------------------------------ */
@media screen and (max-width: 768px) {
  /* common setting
  ------------------------------------*/
  html {
    min-width: 100vw;
  }

	body {
    background: $cWht;
		min-width: 100vw;
		min-height: 100%;
    &.modeNav {
      overflow: hidden !important;
      position: fixed;/* only iOS */
      height: auto;
    }
  }
	
	.onlyPC {
		display: none;
	}

	.onlySP {
		display: block;
	}
  
  main {
    max-width: 100vw;
  }

  a {
    &:hover,
    &:hover img {
      opacity: 1;
      filter: alpha(opacity=100);
      -moz-opacity: 1;
    }
    &[href^="tel:"] {
      pointer-events: auto;
      cursor: pointer;
    }

  }

  .tel {
    pointer-events: auto;
  }

  
  


  /* header setting
  ------------------------------------*/
  #siteHeader {
    height: 14.666667vw;
    .inner {
      display: block;
      flex-wrap: wrap;
      justify-content: flex-end;
      position: relative;
      margin: 0 auto;
      width: 100vw;
      .header-logo {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        margin: 0 0 0 3.2vw;
        height: 14.666667vw;
        
        svg {
          top: 4vw;
          width: 8vw;
          filter: blur(2.666667vw);
        }
        
        em {
          font-size: 4vw;
          filter: blur(2.666667vw);
        }
        
        span {
          padding: 0;
          letter-spacing: 0;
          font-size: 2.4vw;
        }
        
        &.visible {
          padding: 0 0 0 9.2vw;
          svg,
          em {
            opacity: 1;
            filter: blur(0);
            visibility: visible;
            will-change: auto;
          }
        }
        
      }
      [aria-label="headerNav"] {
        > ul {
          position: absolute;
          opacity: 0;
          top: 0;
          right: -100vw;
          z-index: 0;
          display: block;
          background: $cWht;
          margin: 0;
          padding: 14.666667vw 0 0;
          width: 100vw;
          height: 100vh;
          -webkit-transition: all 0.35s ease;
          transition: all 0.35s ease;
          text-align: center;
          overflow: scroll;
          > li {
            margin: 0;
            width: 100vw;
            max-width: 100vw;
            a {
              padding: 3.2vw 0;
              width: 100%;
              height: auto;
              font-size: 3.733333vw;
              
              small {
                margin: 0.5333333vw 0 0;
                font-size: 2.666667vw;
              }
              
              &.btnContact {
                background: transparent;
                font-weight: 600;
                font-size: 14px;
                color: $cBk2;
                
                &:link,
                &:visited {
                  color: $cBk2;
                }
                
                &:hover {
                  background: $cGr0;
                  color: $cBk1;
                  opacity: 1.0;
                }
  
                small {
                  color: $cBlu;
                }
                
              }
            }
            &:nth-child(5) {
              width: 100vw;
              max-width: 100vw;
              min-width: 100vw;
              margin-left: 0;
            }
            &:nth-child(6) {
              padding: 4.8vw 0 0;
              a {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                border-radius: 1.3333333vw;
                background: $cGreen;
                margin: 0 auto;
                width: 80vw;

                svg {
                  width: 4.2666667vw;
                  height: auto;
                  margin: 0 1.3333333vw 0 0;
                }

                span {
                  color: $cWht;
                }
              }
              p {
                margin: 2.4vw 0 0;
                font-size: 2.666667vw;
              }
            }
          }
        }
        > dl {
          display: none;
        }
        > button {
          position: fixed;
          top: 0;
          right: 0;
          z-index: 2;
          background: $cWht;
          width: 14.666667vw;
          height: 14.666667vw;
          i {
            display: block;
            position: absolute;
            left: 4vw;
            border-radius: 0.4vw;
            background: $cBk2;
            width: 6.6666667vw;
            height: 0.8vw;
            transition: all 0.3s;
            &:nth-child(1) {
              top: 4.8vw;
            }
            &:nth-child(2) {
              top: 6.9333333vw;
            }
            &:nth-child(3) {
              width: 4.2666667vw;
              top: 9.0666667vw;
            }
          }
        }
      }
    }
  }
	body.modeNav {
		#siteHeader {
      .inner {
        height: 100vh;
        nav {
          > ul {
            right: 0;
            opacity: 1;
          }
          button {
            i {
              &:nth-child(1) {
                transform: translateY(2.20vw) rotate(45deg);
              }
              &:nth-child(2) {
                transform: scale(0, 1);
              }
              &:nth-child(3) {
                transform: translateY(-2.20vw) rotate(-45deg);
                width: 6.6666667vw;
              }
            }
          }
        }
        [aria-label="breadcrumbs"] {
          display: none;
        }
      }
  	}
	}





  /* footer setting
  ------------------------------------*/
  footer {
    background: url("../../img/common/bg_footer_sp.webp") no-repeat center center / cover;
    padding: 0 0 8vw;
    font-size: 3.733333vw;
    
    > .inner {
      display: block;
      width: 100vw;
      text-align: center;
    
      #footerContent {
        width: 100%;
  
        [aria-label="footerNav"] {
          box-sizing: border-box;
          width: 100%;

          > ul {
            flex-wrap: wrap;
            gap: 0;
            margin: 0 0 8vw;

            > li {
              box-sizing: border-box;
              width: 50%;
              border-bottom: 0.2666667vw solid $cGr5;

              &:nth-child(2n) {
                border-left: 0.2666667vw solid $cGr5;
              }

              &:not(:last-child) {
                &::after {
                  display: none;
                }
              }

              > a {
                position: relative;
                display: block;
                padding: 6.4vw 0;
                text-align: center;

                &:before {
                  position: relative;
                  top: auto;
                  display: inline-block;
                  margin: 0 2.666667vw 0 0;
                  width: 4vw;
                  height: 2.933333vw;
                }
              }
            }
          }
        }
        > p {
          a {
            justify-content: center;
            gap: 1.8vw;
            margin: 0 0 9.3333333vw;
    
            svg {
              width: 10.6777vw;
            }
    
            em {
              font-size: 6.4vw;
            }
          }
        }
        
        dl {
          gap: 10.4vw;
          margin: 8.4vw 0;
          font-size: 2.86667vw;
            
          dt {
            width: 21.4vw;
  
            &::after {
              top: -4.6666667vw;
              right: -5.6666667vw;
              border-radius: 0.2666667vw;
              width: 0.5333333vw;
              height: 13.3333333vw;
            }
          }
            
          dd {
            text-align: left;
          }
        }
      }

      iframe {
        border-radius: 1.0666667vw;
        margin: 0 auto 35px;
        width: 92vw;
        height: 300px;
      }

      .copyright {
        font-size: 2.6666667vw;
        text-align: center;
      }
    }
  }





  /* common parts setting
  ------------------------------------*/
  /* keyword Search */

}

