@charset "UTF-8";
/* color import setting
------------------------------------*/
/* ========================================
   color setting
   ======================================== */
/* ----------------------------------------
   1. 基本色（黒・白・グレー）
   ---------------------------------------- */
/* ----------------------------------------
   2. カラー（赤・青・緑・黄）
   ---------------------------------------- */
/* ----------------------------------------
   3. SVGロゴ色
   ---------------------------------------- */
/* ----------------------------------------
   4. 背景色
   ---------------------------------------- */
/* ----------------------------------------
   5. 透明度付き色
   ---------------------------------------- */
/* contactIntro setting
------------------------------------*/
/* line 13, ../../_scss/contact/contact.scss */
#contactIntro {
  margin: 0 auto;
  width: 90%;
  max-width: 960px;
}

/* ------------------------------------------------------------------------
	Ajustment For Small PC Window 
------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------
	Ajustment For Smart Phone 
------------------------------------------------------------------------ */
@media screen and (max-width: 768px) {
  /* contactIntro setting
  ------------------------------------*/
  /* line 39, ../../_scss/contact/contact.scss */
  #contactIntro {
    width: 92vw;
  }
}
