/* Slider */
/* line 5, ../../_scss/common/slick.scss */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 21, ../../_scss/common/slick.scss */
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
/* line 27, ../../_scss/common/slick.scss */
.slick-list:focus {
  outline: none;
}
/* line 30, ../../_scss/common/slick.scss */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 37, ../../_scss/common/slick.scss */
.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 46, ../../_scss/common/slick.scss */
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
/* line 51, ../../_scss/common/slick.scss */
.slick-track:before {
  display: table;
  content: '';
}
/* line 55, ../../_scss/common/slick.scss */
.slick-track:after {
  display: table;
  content: '';
  clear: both;
}

/* line 62, ../../_scss/common/slick.scss */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 66, ../../_scss/common/slick.scss */
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

/* line 73, ../../_scss/common/slick.scss */
[dir='rtl'] .slick-slide {
  float: right;
}

/* line 79, ../../_scss/common/slick.scss */
.slick-slide.slick-loading img {
  display: none;
}
/* line 82, ../../_scss/common/slick.scss */
.slick-slide.dragging img {
  pointer-events: none;
}

/* line 87, ../../_scss/common/slick.scss */
.slick-initialized .slick-slide {
  display: block;
}

/* line 91, ../../_scss/common/slick.scss */
.slick-loading .slick-slide {
  visibility: hidden;
}

/* line 95, ../../_scss/common/slick.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* line 101, ../../_scss/common/slick.scss */
.slick-arrow.slick-hidden {
  display: none;
}
