@charset "utf-8";

/* color import setting
------------------------------------*/
@import 'common/colors';





/* mainVisual setting
------------------------------------*/





/* ------------------------------------------------------------------------
	Ajustment For Small PC Window 
------------------------------------------------------------------------ */
@media screen and (max-width: 1024px) {

}





/* ------------------------------------------------------------------------
	Ajustment For Smart Phone 
------------------------------------------------------------------------ */
@media screen and (max-width: 768px) {

}
