@charset "UTF-8";
/* color import setting
------------------------------------*/
/* ========================================
   color setting
   ======================================== */
/* ----------------------------------------
   1. 基本色（黒・白・グレー）
   ---------------------------------------- */
/* ----------------------------------------
   2. カラー（赤・青・緑・黄）
   ---------------------------------------- */
/* ----------------------------------------
   3. 背景色
   ---------------------------------------- */
/* フォームエラー時の入力欄背景（薄いピンク） */
/* ----------------------------------------
   4. 透明度付き色
   ---------------------------------------- */
/* companyIntro setting
------------------------------------*/
/* line 13, ../../_scss/company/company.scss */
#companyIntro {
  margin: 0 auto;
  width: 90%;
  max-width: 960px;
}

/* ------------------------------------------------------------------------
	Ajustment For Small PC Window 
------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------
	Ajustment For Smart Phone 
------------------------------------------------------------------------ */
