@charset "utf-8";

/* color import setting
------------------------------------*/
@import 'common/colors';





/* contactIntro setting
------------------------------------*/
#contactIntro {
	margin: 0 auto;
	width: 90%;
	max-width: 960px;
	.inner {
		p {
			margin: 0 0 60px;
			line-height: 1.8;
			font-size: 15px;
		}
	}
}





/* contactFormSection setting
------------------------------------*/
.mw_wp_form {
	#contactFormSection {
		box-shadow: 0 2px 8px $cBkAlpha15;
		background: $cBk1 url(../../img/common/bg_common-pattern_pc.png) center 0 / 100% auto no-repeat;
		width: 100%;
		padding: 70px 0 60px;
	
		input,
		select,
		textarea,
		button {
			margin: 0;
			padding: 0;
			border: none;
			background: transparent;
			font-family: inherit;
			font-size: inherit;
			line-height: inherit;
			color: inherit;
			letter-spacing: inherit;
			box-sizing: border-box;
			vertical-align: middle;
		}
	
		input,
		select,
		textarea,
		button[type="submit"] {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
		}
	
		select::-ms-expand {
			display: none;
		}
	
		button {
			cursor: pointer;
		}
	
		button::-moz-focus-inner,
		input::-moz-focus-inner {
			padding: 0;
			border: 0;
		}
	
		.inner {
			box-sizing: border-box;
			border-radius: 15px 0 15px 0;
			background: $cWht;
			margin: 0 auto 65px;
			padding: 55px 55px 0;
			width: 90%;
			max-width: 1010px;
	
			> .formNote {
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0 0 40px;
				line-height: 1.8;
				font-size: 14px;
	
				strong {
					display: inline-block;
					border-radius: 3px;
					background: $cRed2;
					margin: 0 5px;
					padding: 0 10px;
					color: $cWht;
				}
			}
	
			.mwWpFormInner {
	
				.formItem {
					display: flex;
					justify-content: space-between;
					align-items: center;
	
					&:not(:last-child) {
						border-bottom: 1px solid $cGr6;
						margin: 0 0 25px;
						padding: 0 0 25px;
					}
	
					&:last-child {
						padding: 30px 0 60px;
					}
	
					dt {
						box-sizing: border-box;
						display: flex;
						justify-content: space-between;
						align-items: center;
						padding: 0 0 0 1.465%;
						width: 32.222%;
						line-height: 1.8;
						font-size: 14px;
	
						.requiredMark {
							display: inline-block;
							border-radius: 3px;
							background: $cRed2;
							padding: 0 10px;
							color: $cWht;
						}
					}
	
					dd {
						width: 66.111%;
						font-size: 14px;
	
						a {
							text-decoration: underline;
							color: $cBlu;
						}
	
						input {
							box-sizing: border-box;
							border: 1px solid $cBlu;
							border-radius: 5px;
							padding: 0 15px;
							width: 92.435%;
							height: 45px;
							box-shadow: inset 0 2px 4px $cBkAlpha10;
						}
	
						&:has(.error) input,
						&:has(.error) select,
						&:has(.error) textarea {
							background-color: $cBgErrorPink;
						}
	
						&:has(select) {
							position: relative;
	
							&::after {
								content: '';
								position: absolute;
								top: 22px;
								left: 45.5%;
								pointer-events: none;
								border-top: 2px solid $cBlu;
								border-right: 2px solid $cBlu;
								transform: translateY(-50%) rotate(135deg);
								width: 6px;
								height: 6px;
							}
						}
	
						select {
							box-sizing: border-box;
							border: 1px solid $cBlu;
							border-radius: 5px;
							padding: 0 36px 0 15px;
							width: 50%;
							height: 45px;
							box-shadow: inset 0 2px 4px $cBkAlpha10;
							background: transparent;
						}
						
						textarea {
							box-sizing: border-box;
							border: 1px solid $cBlu;
							border-radius: 5px;
							padding: 15px;
							width: 92.435%;
							min-height: 125px;
							box-shadow: inset 0 2px 4px $cBkAlpha10;
						}
						
						.formHint {
							margin: 0 0 10px;
							font-size: 11px;
						}
	
						&:has(input[type="hidden"]) .formHint {
							display: none;
						}
	
						.error {
							display: block;
							margin: 10px 0 0;
							font-size: 14px;
							color: $cRed2;
						}
	
						label {
							position: relative;
							display: inline-flex;
							align-items: center;
							gap: 10px;
							cursor: pointer;
							font-size: 14px;
							line-height: 1.5;
	
							&::before {
								content: '';
								flex-shrink: 0;
								width: 20px;
								height: 20px;
								border: 2px solid $cGr1;
								border-radius: 4px;
								background: $cWht;
								transition: border-color 0.2s ease, background-color 0.2s ease;
							}
	
							&:has(input:checked)::before {
								border-color: $cBlu;
							}
	
							&:has(input:checked)::after {
								content: '';
								position: absolute;
								left: 3.5%;
								top: 52%;
								width: 10px;
								height: 5px;
								margin-top: -3px;
								border-left: 2px solid $cBlu;
								border-bottom: 2px solid $cBlu;
								transform: rotate(-45deg) translateY(-50%);
								pointer-events: none;
							}
	
							input[type="checkbox"] {
								position: absolute;
								opacity: 0;
								width: 20px;
								height: 20px;
								margin: 0;
								cursor: pointer;
	
								&:focus-visible ~ .mwform-checkbox-field-text {
									outline: 2px solid $cBlu;
									outline-offset: 2px;
								}
							}
						}
					}
				}
			}
		}
	
		.submitArea {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 20px;
			margin: 0 auto;
			width: 415px;
			min-height: 80px;
	
			// 矢印はメイン送信ボタン用ラップに付与（画面幅変更に強い）
			.submitBtnWrap {
				position: relative;
				display: block;
				width: 415px;
	
				&::after {
					content: '';
					position: absolute;
					top: 50%;
					right: 20px;
					border-top: 2px solid $cWht;
					border-right: 2px solid $cWht;
					transform: rotate(45deg);
					margin: -5px 0 0;
					width: 8px;
					height: 8px;
					transition: all 0.3s;
				}
	
				&:has(input[type="submit"]:disabled)::after {
					opacity: 0;
				}
			}
	
			.backBtnWrap {
				display: block;
				width: 415px;
			}
	
			&:has(input[name="submitBack"]) {
				width: 850px; // 415 * 2 + gap
			}
	
			input[type="submit"] {
				display: block;
				box-sizing: border-box;
				background: $cGreen;
				box-shadow: 0 2px 8px $cBkAlpha15;
				width: 415px;
				height: 80px;
				text-align: center;
				line-height: 80px;
				font-weight: 600;
				font-size: 18px;
				color: $cWht;
				transition: opacity 0.6s ease;
				cursor: pointer;
	
				&:disabled {
					opacity: 0.5;
					cursor: not-allowed;
				}
	
				&:hover:not(:disabled) {
					opacity: 0.8;
				}
			}
	
			// 確認画面の「入力内容を修正する」ボタン（2つ目）
			input[name="submitBack"] {
				background: $cGr5;
				box-shadow: 0 2px 8px $cBkAlpha15;
			}
		}
	}

	&.mw_wp_form_confirm {
		#contactFormSection {
			.inner {
				> .formNote {
					display: none;
				}
				.mwWpFormInner {
					.formItem {
						dt {
							.requiredMark {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}






/* contactSection setting
------------------------------------*/
#contactSection {
	.inner {
		h2 {
			display: none;
		}
		> p {
			display: none;
		}
		
		> a.btnContact {
			display: none;
		}
	}
}





/* ------------------------------------------------------------------------
	Ajustment For Small PC Window 
------------------------------------------------------------------------ */
@media screen and (max-width: 1024px) {

}





/* ------------------------------------------------------------------------
	Ajustment For Smart Phone 
------------------------------------------------------------------------ */
@media screen and (max-width: 768px) {
	/* contactIntro setting
	------------------------------------*/
	#contactIntro {
		width: 92vw;
		.inner {
			p {
				margin: 0 0 12vw;
				font-size: 3.733333vw;
			}
		}
	}

	/* contactFormSection setting
	------------------------------------*/
	#contactFormSection {

		.inner {
			padding: 4vw;
			width: 92vw;
			border-radius: 4vw 0 4vw 0;
		}
	}






	/* contactFormSection setting
	------------------------------------*/
	.mw_wp_form {
		#contactFormSection {
			box-shadow: 0 0.5333333vw 2.1333333vw $cBkAlpha15;
			background: $cBk1 url(../../img/common/bg_common-pattern_sp.png) center 0 / 100% auto no-repeat;
			padding: 8vw 0 12vw;

			.inner {
				border-radius: 4vw 0 4vw 0;
				margin: 0 auto 7.2vw;
				padding: 8vw 4vw 0;
				width: 92vw;

				> .formNote {
					margin: 0 0 6.4vw;
					font-size: 3.733333vw;

					strong {
						border-radius: 0.8vw;
						margin: 0 1.3333333vw;
						padding: 0 2.666667vw;
					}
				}

				.mwWpFormInner {

					.formItem {
						display: block;

						&:not(:last-child) {
							border-bottom: 0.2666667vw solid $cGr6;
							margin: 0 0 6.6666667vw;
							padding: 0 0 6.6666667vw;
						}

						&:last-child {
							padding: 2.4vw 0 12vw;
						}

						dt {
							padding: 0 0 2.4vw;
							width: 100%;
							font-size: 3.733333vw;

							.requiredMark {
								border-radius: 0.8vw;
								padding: 0 2.666667vw;
							}
						}

						dd {
							width: 100%;
							font-size: 3.733333vw;

							input {
								border: 0.2666667vw solid $cBlu;
								border-radius: 1.3333333vw;
								padding: 0 4vw;
								width: 100%;
								height: 12vw;
								box-shadow: inset 0 0.5333333vw 1.0666667vw $cBkAlpha10;
							}

							&:has(select) {

								&::after {
									top: 5.8666667vw;
									left: auto;
									right: 5%;
									border-top: 0.4vw solid $cBlu;
									border-right: 0.4vw solid $cBlu;
									width: 1.2vw;
									height: 1.2vw;
								}
							}

							select {
								border: 0.2666667vw solid $cBlu;
								border-radius: 1.3333333vw;
								padding: 0 7.2vw 0 4vw;
								width: 100%;
								height: 12vw;
								box-shadow: inset 0 0.5333333vw 1.0666667vw $cBkAlpha10;
							}
							
							textarea {
								border: 0.2666667vw solid $cBlu;
								border-radius: 1.3333333vw;
								padding: 4vw;
								width: 100%;
								min-height: 33.333333vw;
								box-shadow: inset 0 0.5333333vw 1.0666667vw $cBkAlpha10;
							}
							
							.formHint {
								margin: 0 0.8vw 2.666667vw;
								padding: 0 0 0 2.933333vw;
								line-height: 1.5;
								font-size: 2.933333vw;

								&:first-letter {
									margin: 0 0 0 -2.933333vw;
								}
							}

							&:has(input[type="hidden"]) .formHint {
								display: none;
							}

							.error {
								margin: 2.666667vw 0 0;
								font-size: 3.733333vw;
							}

							label {
								display: flex;
								justify-content: center;
								gap: 2vw;
								font-size: 3.733333vw;

								&::before {
									width: 4vw;
									height: 4vw;
									border: 0.4vw solid $cGr1;
									border-radius: 0.8vw;
								}

								&:has(input:checked)::after {
									left: 15vw;
									width: 2vw;
									height: 1.0666667vw;
									margin: -0.8vw 0 0;
									border-left: 0.4vw solid $cBlu;
									border-bottom: 0.4vw solid $cBlu;
								}

								input[type="checkbox"] {
									width: 4vw;
									height: 4vw;

									&:focus-visible ~ .mwform-checkbox-field-text {
										outline: 0.4vw solid $cBlu;
										outline-offset: 0.4vw;
									}
								}
							}
						}
					}
				}
			}

			.submitArea {
				gap: 4vw;
				width: 92vw;
				min-height: 16vw;

				// 矢印はメイン送信ボタン用ラップに付与（画面幅変更に強い）
				.submitBtnWrap {
					width: 92vw;

					&::after {
						right: 4vw;
						border-top: 0.4vw solid $cWht;
						border-right: 0.4vw solid $cWht;
						margin: -1.0666667vw 0 0;
						width: 1.6vw;
						height: 1.6vw;
					}
				}

				// 戻るボタン用ラップ（確認画面で表示）
				.backBtnWrap {
					width: 92vw;
				}

				// 確認画面（ボタン2つ）：エリア幅を広げるだけ（矢印は .submitBtnWrap に任せる）
				&:has(input[name="submitBack"]) {
					width: 92vw; // 415 * 2 + gap
				}

				input[type="submit"] {
					box-shadow: 0 0.5333333vw 1.6vw $cBkAlpha15;
					width: 92vw;
					height: 16vw;
					line-height: 16vw;
					font-size: 3.733333vw;
				}

				// 確認画面の「入力内容を修正する」ボタン（2つ目）
				input[name="submitBack"] {
					box-shadow: 0 0.5333333vw 1.6vw $cBkAlpha15;
				}
			}
		}
	}





	/* contactSection setting
	------------------------------------*/
	#contactSection {
		.inner {
			h2 {
				display: none;
			}
			> p {
				display: none;
			}
			
			> a.btnContact {
				display: none;
			}
		}
	}
}
