@charset "utf-8";

/* color import setting
------------------------------------*/
@import 'common/colors';





/* contactIntro setting
------------------------------------*/
#contactIntro {
	margin: 0 auto;
	width: 90%;
	max-width: 960px;
}




/* ------------------------------------------------------------------------
	Ajustment For Small PC Window 
------------------------------------------------------------------------ */
@media screen and (max-width: 1024px) {

}





/* ------------------------------------------------------------------------
	Ajustment For Smart Phone 
------------------------------------------------------------------------ */
@media screen and (max-width: 768px) {
	/* contactIntro setting
	------------------------------------*/
	#contactIntro {
		width: 92vw;
	}

}
