  <footer>
    <div class="inner">
      <nav aria-label="footerNav">
        <h2 class="onlySR">フッターナビゲーション</h2>
        <ul>
          <li><a href="https://www.colowide.co.jp/ir/stock_info/stockholder/" target="_blank">株主様ご優待について</a></li>
          <li><a href="https://www.colowide.co.jp/" target="_blank">コロワイドコーポレートサイト</a></li>
        </ul>
      </nav>
      <p>
        株式会社コロワイド<span>（COLOWIDE CO., LTD.）</span>
        <small>
          〒220-8112<br>
          神奈川県横浜市西区みなとみらい2-2-1　<br class="onlySP">ランドマークタワー 12F
        </small>
      </p>
      <small>Copyright &copy; <?php echo date('Y'); ?> COLOWIDE CO.,LTD All Rights Reserved.</small>
    </div>
  </footer>
