      <div id="siteTtl">
        <a href="./">followy Go</a>
        <p>店舗検索サイト</p>
      </div>
      <nav aria-label="headerNav">
        <h2 class="onlySR">ヘッダーナビゲーション</h2>
        <button class="onlySP" aria-label="メニューを開く"><i></i><i></i><i></i></button>
        <ul>
          <li class="btnLink"><a class="btnLocate">現在地から探す</a></li>
          <li class="btnLink"><a class="btnMap" href="search_map_results.php">地図から探す</a></li>
          <li class="btnLink"><a class="btnArea" href="./#areaSearch">エリアから探す</a></li>
          <li class="keywordSearch">
            <p>キーワードから探す</p>
            <form action="search_keyword_results.php" method="GET">
              <input type="text" class="keywordSearch" name="keyword" placeholder="店舗名・住所・郵便番号で検索" required>
              <button type="submit">検　索</button>
            </form>
          </li>
          <li class="logoLink">followy Go</a></li>
        </ul>
      </nav>
