@charset "UTF-8";
/* color import setting
------------------------------------*/
/* ========================================
   color setting
   ======================================== */
/* ----------------------------------------
   1. 基本色（黒・白・グレー）
   ---------------------------------------- */
/* ----------------------------------------
   2. カラー（赤・青・緑・黄）
   ---------------------------------------- */
/* ----------------------------------------
   3. SVGロゴ色
   ---------------------------------------- */
/* ----------------------------------------
   4. 背景色
   ---------------------------------------- */
/* ----------------------------------------
   5. 透明度付き色
   ---------------------------------------- */
/* common setting
------------------------------------*/
/* line 13, ../../_scss/top/top.scss */
body {
  background: none;
}

/* line 17, ../../_scss/top/top.scss */
main {
  padding: 0;
}

/* mainVisual setting
------------------------------------*/
/* line 27, ../../_scss/top/top.scss */
#mainVisual {
  position: relative;
  width: 100%;
  height: 516px;
  background-image: url("../../img/top/bg_main-top_pc.webp");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 36, ../../_scss/top/top.scss */
#mainVisual .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  width: 845px;
  height: 100%;
}
/* line 45, ../../_scss/top/top.scss */
#mainVisual .inner h1 {
  display: flex;
  align-items: center;
  margin: 0 0 30px;
  padding: 0;
  width: auto;
  font-weight: 700;
  font-size: 36px;
  color: #333d42;
  opacity: 0;
  filter: blur(10px);
  will-change: opacity, filter;
  transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: opacity 1.5s ease-out, filter 1.5s ease-out;
}
/* line 62, ../../_scss/top/top.scss */
#mainVisual .inner h1.fadeIn {
  opacity: 1;
  filter: blur(0);
  will-change: auto;
}
/* line 68, ../../_scss/top/top.scss */
#mainVisual .inner h1 img {
  display: block;
  margin: 0 12px 0 0;
  width: 71.5px;
  height: auto;
  max-width: 100%;
}
/* line 77, ../../_scss/top/top.scss */
#mainVisual .inner p {
  width: 540px;
  text-align: center;
  line-height: 2.0;
  font-weight: 600;
  font-size: 15px;
  color: #182227;
  opacity: 0;
  filter: blur(10px);
  will-change: opacity, filter;
  transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: opacity 1.5s ease-out, filter 1.5s ease-out;
}
/* line 92, ../../_scss/top/top.scss */
#mainVisual .inner p.fadeIn {
  opacity: 1;
  filter: blur(0);
  will-change: auto;
}
/* line 99, ../../_scss/top/top.scss */
#mainVisual .inner figure {
  position: absolute;
  top: 126px;
  right: 0;
  display: block;
  opacity: 0;
  filter: blur(10px);
  will-change: opacity, filter;
  transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: opacity 1.5s ease-out, filter 1.5s ease-out;
}
/* line 112, ../../_scss/top/top.scss */
#mainVisual .inner figure.fadeIn {
  opacity: 1;
  filter: blur(0);
  will-change: auto;
}
/* line 118, ../../_scss/top/top.scss */
#mainVisual .inner figure img {
  width: 205px;
  height: auto;
}

/* topIntro setting
------------------------------------*/
/* line 134, ../../_scss/top/top.scss */
#topIntro {
  padding: 20px 0 80px;
}
/* line 137, ../../_scss/top/top.scss */
#topIntro .inner {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}
/* line 142, ../../_scss/top/top.scss */
#topIntro .inner h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 50px;
  text-align: center;
  font-size: 20px;
}
/* line 151, ../../_scss/top/top.scss */
#topIntro .inner h2 span {
  font-size: 11px;
}
/* line 155, ../../_scss/top/top.scss */
#topIntro .inner h2 small {
  display: block;
  margin: 5px 0 0;
  width: 100%;
  font-size: 12px;
  color: #0087ac;
}
/* line 164, ../../_scss/top/top.scss */
#topIntro .inner p {
  text-align: center;
  line-height: 1.85;
  font-size: 14px;
}
/* line 169, ../../_scss/top/top.scss */
#topIntro .inner p small {
  font-size: 11px;
}

/* aboutBusiness setting
------------------------------------*/
/* line 181, ../../_scss/top/top.scss */
#aboutBusiness {
  padding: 80px 0;
  background: url("../../img/top/bg_business_pc.webp") center/cover no-repeat;
}
/* line 185, ../../_scss/top/top.scss */
#aboutBusiness .inner {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  text-align: center;
}
/* line 191, ../../_scss/top/top.scss */
#aboutBusiness .inner h2 {
  margin: 0 0 50px;
  font-weight: 600;
  font-size: 20px;
}
/* line 195, ../../_scss/top/top.scss */
#aboutBusiness .inner h2 small {
  display: block;
  margin: 5px 0 0;
  width: 100%;
  font-size: 12px;
  color: #0087ac;
}
/* line 204, ../../_scss/top/top.scss */
#aboutBusiness .inner > p {
  margin: 0 0 50px;
  line-height: 1.85;
  font-size: 14px;
}
/* line 210, ../../_scss/top/top.scss */
#aboutBusiness .inner ol {
  list-style: none;
  margin: 0 auto 50px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 97.5%;
  max-width: 1045px;
}
/* line 220, ../../_scss/top/top.scss */
#aboutBusiness .inner ol li {
  position: relative;
  box-sizing: border-box;
  padding: 0 15px 20px;
  padding-top: 53px;
  width: 23.925%;
  background: #fff;
  border-radius: 20px 0 20px 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  opacity: 0;
  filter: blur(10px);
  will-change: opacity, filter;
  transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: opacity 1.5s ease-out, filter 1.5s ease-out, box-shadow 0.3s ease, transform 0.3s ease;
}
/* line 237, ../../_scss/top/top.scss */
#aboutBusiness .inner ol li.fadeIn {
  opacity: 1;
  filter: blur(0);
  will-change: auto;
}
/* line 243, ../../_scss/top/top.scss */
#aboutBusiness .inner ol li:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}
/* line 249, ../../_scss/top/top.scss */
#aboutBusiness .inner ol li::after {
  content: "";
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  background: url("../../img/common/logo-ci.svg") no-repeat center/contain;
}
/* line 261, ../../_scss/top/top.scss */
#aboutBusiness .inner ol li::before {
  content: counter(list-item);
  position: absolute;
  left: 50%;
  top: -15px;
  display: block;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  line-height: 44px;
  text-align: center;
  font-weight: 600;
  font-size: 10px;
  color: #0087ac;
  z-index: 1;
}
/* line 278, ../../_scss/top/top.scss */
#aboutBusiness .inner ol li h3 {
  font-weight: 600;
  font-size: 16px;
}
/* line 282, ../../_scss/top/top.scss */
#aboutBusiness .inner ol li h3 small {
  font-size: 12px;
}
/* line 287, ../../_scss/top/top.scss */
#aboutBusiness .inner ol li figure {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}
/* line 293, ../../_scss/top/top.scss */
#aboutBusiness .inner ol li figure img {
  width: auto;
  height: 34px;
}
/* line 299, ../../_scss/top/top.scss */
#aboutBusiness .inner ol li p {
  line-height: 2.0;
  text-align: left;
  font-size: 12px;
  color: #333344;
}
/* line 308, ../../_scss/top/top.scss */
#aboutBusiness .inner > a.btnPrimary {
  position: relative;
  display: block;
  box-sizing: border-box;
  background: #0087ac;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  width: 415px;
  height: 80px;
  margin: 0 auto;
  text-align: center;
  line-height: 80px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  transition: opacity 0.6s ease;
}
/* line 324, ../../_scss/top/top.scss */
#aboutBusiness .inner > a.btnPrimary::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: -5px 0 0;
  width: 8px;
  height: 8px;
  transition: all 0.3s;
}
/* line 340, ../../_scss/top/top.scss */
#aboutBusiness .inner > a.btnPrimary:hover {
  opacity: 0.8;
}

/* handledBrands setting
------------------------------------*/
/* line 353, ../../_scss/top/top.scss */
#handledBrands {
  position: relative;
  padding: 80px 0;
  background: url("../../img/top/bg_brands_pc.webp") center/cover no-repeat;
}
/* line 358, ../../_scss/top/top.scss */
#handledBrands::before, #handledBrands::after {
  content: '';
  position: absolute;
  top: -33.5px;
  left: 0;
  display: block;
  width: 50%;
  height: 33.5px;
  background: url("../../img/common/line_pc.webp") center/100% 100% no-repeat;
}
/* line 370, ../../_scss/top/top.scss */
#handledBrands::after {
  top: auto;
  bottom: -33.5px;
  left: auto;
  right: 0;
  transform: rotate(180deg);
}
/* line 378, ../../_scss/top/top.scss */
#handledBrands .inner {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  text-align: center;
}
/* line 384, ../../_scss/top/top.scss */
#handledBrands .inner h2 {
  margin: 0 0 50px;
  font-weight: 600;
  font-size: 20px;
}
/* line 388, ../../_scss/top/top.scss */
#handledBrands .inner h2 small {
  display: block;
  margin: 5px 0 0;
  width: 100%;
  font-size: 12px;
  color: #0087ac;
}
/* line 397, ../../_scss/top/top.scss */
#handledBrands .inner p {
  margin: 0 0 50px;
  line-height: 1.85;
  font-size: 14px;
}
/* line 403, ../../_scss/top/top.scss */
#handledBrands .inner ul {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
/* line 411, ../../_scss/top/top.scss */
#handledBrands .inner ul::after {
  content: '※五十音順';
  position: absolute;
  bottom: -40px;
  right: 30px;
  font-size: 10px;
}
/* line 419, ../../_scss/top/top.scss */
#handledBrands .inner ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  opacity: 0;
  filter: blur(10px);
  will-change: opacity, filter;
  transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: opacity 1.5s ease-out, filter 1.5s ease-out, box-shadow 0.3s ease;
}
/* line 432, ../../_scss/top/top.scss */
#handledBrands .inner ul li.fadeIn {
  opacity: 1;
  filter: blur(0);
  will-change: auto;
}
/* line 438, ../../_scss/top/top.scss */
#handledBrands .inner ul li img {
  width: auto;
  height: 25px;
  max-width: 175px;
  object-fit: contain;
  mix-blend-mode: multiply;
}

/* latestNews and businessCalendar (2 column layout)
------------------------------------*/
/* line 456, ../../_scss/top/top.scss */
#latestNewsCalendar {
  padding: 100px 0;
}
/* line 459, ../../_scss/top/top.scss */
#latestNewsCalendar .inner {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  max-width: 980px;
}
/* line 466, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #latestNews {
  margin: 17.5px 0 0;
  width: 45%;
  text-align: center;
}
/* line 470, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #latestNews h2 {
  margin: 0 0 30px;
  font-size: 20px;
}
/* line 473, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #latestNews h2 span {
  display: block;
  margin: 0 0 10px;
  font-size: 15px;
}
/* line 478, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #latestNews h2 small {
  display: block;
  margin: 10px 0 0;
  width: 100%;
  font-size: 12px;
  color: #0087ac;
}
/* line 487, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #latestNews .newsList {
  margin: 0 0 30px;
}
/* line 490, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #latestNews .newsList li {
  border-bottom: 1px solid #e3e3e3;
}
/* line 493, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #latestNews .newsList li > a {
  display: flex;
  align-items: center;
  padding: 15px 0;
  gap: 5%;
  text-decoration: none;
  transition: opacity 0.3s ease;
  text-align: left;
}
/* line 502, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #latestNews .newsList li > a:hover {
  opacity: 0.8;
}
/* line 505, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #latestNews .newsList li > a:hover .newsThumbnail img {
  transform: scale(1.1);
}
/* line 509, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #latestNews .newsList li > a:hover .newsContent span {
  color: #222;
  text-decoration: underline;
}
/* line 516, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #latestNews .newsList li .newsThumbnail {
  border-radius: 5px;
  flex-shrink: 0;
  margin: 0;
  width: 110px;
  height: 83px;
  overflow: hidden;
}
/* line 524, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #latestNews .newsList li .newsThumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease;
}
/* line 533, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #latestNews .newsList li .newsContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 12px;
}
/* line 540, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #latestNews .newsList li .newsContent time {
  position: relative;
  min-width: auto;
}
/* line 543, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #latestNews .newsList li .newsContent time::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-2.5px);
  left: -10px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #7fa329;
  display: block;
  width: 6px;
  height: 6px;
}
/* line 558, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #latestNews .newsList li .newsContent span {
  line-height: 1.75;
  text-decoration: underline;
  color: #0087ac;
  transition: color 0.3s ease;
}
/* line 568, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #latestNews > a {
  position: relative;
  display: block;
  background: #0087ac;
  margin: 15px auto 0;
  width: 72.72%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  transition: opacity 0.6s ease;
}
/* line 581, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #latestNews > a::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: -5px 0 0;
  width: 8px;
  height: 8px;
  transition: all 0.3s;
}
/* line 597, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #latestNews > a:hover {
  opacity: 0.8;
}
/* line 606, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #businessCalendar {
  position: relative;
  border-radius: 20px 0 20px 0;
  background: #f9f9f9;
  padding: 50px 20px 0;
  width: 45%;
  text-align: center;
}
/* line 615, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #businessCalendar::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  background: url("../../img/common/logo-ci.svg") no-repeat center/contain;
}
/* line 626, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #businessCalendar h2 {
  margin: 0 0 20px;
  font-size: 20px;
}
/* line 629, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #businessCalendar h2 small {
  display: block;
  margin: 10px 0 0;
  width: 100%;
  font-size: 12px;
  color: #0087ac;
}
/* line 638, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #businessCalendar .businessCalendar {
  position: relative;
  background: #fff;
  padding: 25px 0 5px;
}
/* line 643, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #businessCalendar .businessCalendar h3 {
  margin: 0 0 15px;
  text-align: center;
  font-size: 22px;
}
/* line 648, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #businessCalendar .businessCalendar h3 small {
  font-weight: 600;
  font-size: 12px;
}
/* line 654, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #businessCalendar .businessCalendar button {
  position: absolute;
  top: 150px;
  left: 0;
  transform: translateX(-70%);
  display: block;
  border: none;
  border-radius: 50%;
  background: #0087ac;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.3s;
}
/* line 670, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #businessCalendar .businessCalendar button::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  margin: -5px 0 0;
  width: 8px;
  height: 8px;
  transition: all 0.3s;
}
/* line 686, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #businessCalendar .businessCalendar button.btnNext {
  left: auto;
  right: 0;
  transform: translateX(70%);
}
/* line 691, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #businessCalendar .businessCalendar button.btnNext::after {
  right: auto;
  left: 20px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 700, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #businessCalendar .businessCalendar button:hover {
  background: #005f79;
}
/* line 704, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #businessCalendar .businessCalendar button:disabled {
  background: #bbb;
  cursor: not-allowed;
}
/* line 713, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #businessCalendar .businessCalendar .calendarLegend .legendItem {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
/* line 719, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #businessCalendar .businessCalendar .calendarLegend .legendColor {
  display: inline-block;
  width: 14px;
  height: 14px;
  font-size: 14px;
}
/* line 725, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #businessCalendar .businessCalendar .calendarLegend .legendColor.holiday {
  background: #eb0c0c;
}
/* line 731, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #businessCalendar .businessCalendar .calendarTable {
  margin: 0 auto 20px;
  width: 75%;
  border-collapse: separate;
  border-spacing: 6px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}
/* line 740, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #businessCalendar .businessCalendar .calendarTable th {
  box-sizing: border-box;
  width: 14%;
  padding: 10px 0;
  height: 35px;
}
/* line 746, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #businessCalendar .businessCalendar .calendarTable th.sunday {
  color: #eb0c0c;
}
/* line 750, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #businessCalendar .businessCalendar .calendarTable th.saturday {
  color: #0087ac;
}
/* line 755, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #businessCalendar .businessCalendar .calendarTable td {
  box-sizing: border-box;
  width: 14.285714285714286%;
  vertical-align: middle;
  height: 35px;
}
/* line 761, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #businessCalendar .businessCalendar .calendarTable td.empty {
  background: #fff;
}
/* line 765, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #businessCalendar .businessCalendar .calendarTable td.sunday, #latestNewsCalendar .inner #businessCalendar .businessCalendar .calendarTable td.saturday {
  color: #0087ac;
  background: #f0f8ff;
}
/* line 771, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #businessCalendar .businessCalendar .calendarTable td.holiday {
  background: #eb0c0c;
  color: #fff;
  font-weight: bold;
}
/* line 777, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #businessCalendar .businessCalendar .calendarTable td.today {
  border: 4px solid #ffd700;
}
/* line 784, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #businessCalendar .calendarInfo {
  display: flex;
  justify-content: center;
  gap: 2%;
}
/* line 789, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #businessCalendar .calendarInfo .infoBox {
  width: 45.5%;
  padding: 20px 0;
  font-size: 13px;
}
/* line 794, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #businessCalendar .calendarInfo .infoBox h4 {
  border-radius: 5px;
  background: #666;
  margin: 0 0 5px;
  padding: 3px;
  color: #fff;
}
/* line 805, ../../_scss/top/top.scss */
#latestNewsCalendar .inner #businessCalendar .calendarNote {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  margin: 0 auto -20px;
  width: 340px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
}

/* ------------------------------------------------------------------------
	Ajustment For Small PC Window 
------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------
	Ajustment For Smart Phone 
------------------------------------------------------------------------ */
@media screen and (max-width: 768px) {
  /* mainVisual setting
  ------------------------------------*/
  /* line 841, ../../_scss/top/top.scss */
  #mainVisual {
    width: 100%;
    height: 139.467vw;
    background-image: url("../../img/top/bg_main-top_sp.webp");
  }
  /* line 845, ../../_scss/top/top.scss */
  #mainVisual .inner {
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  /* line 850, ../../_scss/top/top.scss */
  #mainVisual .inner h1 {
    margin: 24vw 0 5.7333vw;
    font-size: 5.3333333vw;
    filter: blur(2.66667vw);
  }
  /* line 855, ../../_scss/top/top.scss */
  #mainVisual .inner h1 img {
    margin: 0 3.2vw 0 0;
    width: 14.2666667vw;
  }
  /* line 861, ../../_scss/top/top.scss */
  #mainVisual .inner p {
    width: 100%;
    line-height: 1.8;
    font-size: 3.466667vw;
    filter: blur(2.66667vw);
  }
  /* line 868, ../../_scss/top/top.scss */
  #mainVisual .inner figure {
    top: 58.4vw;
    right: 50%;
    transform: translateX(50%);
    filter: blur(2.66667vw);
  }
  /* line 874, ../../_scss/top/top.scss */
  #mainVisual .inner figure img {
    width: 38.933333vw;
  }

  /* topIntro setting
  ------------------------------------*/
  /* line 889, ../../_scss/top/top.scss */
  #topIntro {
    padding: 6.6666667vw 0 12vw;
  }
  /* line 894, ../../_scss/top/top.scss */
  #topIntro .inner h2 {
    margin: 0 0 4.8vw;
    font-size: 5.3333333vw;
  }
  /* line 898, ../../_scss/top/top.scss */
  #topIntro .inner h2 span {
    font-size: 3.733333vw;
  }
  /* line 902, ../../_scss/top/top.scss */
  #topIntro .inner h2 small {
    margin: 2.666667vw 0 0;
    font-size: 3.2vw;
  }
  /* line 908, ../../_scss/top/top.scss */
  #topIntro .inner p {
    text-align: left;
    font-size: 3.733333vw;
  }
  /* line 912, ../../_scss/top/top.scss */
  #topIntro .inner p small {
    font-size: 3.2vw;
  }

  /* aboutBusiness setting
  ------------------------------------*/
  /* line 924, ../../_scss/top/top.scss */
  #aboutBusiness {
    display: none;
    padding: 12vw 0;
    background: url("../../img/top/bg_business_sp.webp") center/cover no-repeat;
  }
  /* line 931, ../../_scss/top/top.scss */
  #aboutBusiness .inner h2 {
    margin: 0 0 4.8vw;
    font-size: 5.3333333vw;
  }
  /* line 935, ../../_scss/top/top.scss */
  #aboutBusiness .inner h2 small {
    margin: 2.666667vw 0 0;
    font-size: 3.2vw;
  }
  /* line 941, ../../_scss/top/top.scss */
  #aboutBusiness .inner > p {
    text-align: left;
    font-size: 3.733333vw;
  }
  /* line 946, ../../_scss/top/top.scss */
  #aboutBusiness .inner ol {
    list-style: none;
    margin: 0 auto 50px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 97.5%;
    max-width: 1045px;
  }
  /* line 956, ../../_scss/top/top.scss */
  #aboutBusiness .inner ol li {
    position: relative;
    box-sizing: border-box;
    padding: 0 15px 20px;
    padding-top: 53px;
    width: 23.925%;
    background: #fff;
    border-radius: 20px 0 20px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    opacity: 0;
    filter: blur(10px);
    will-change: opacity, filter;
    transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: opacity 1.5s ease-out, filter 1.5s ease-out, box-shadow 0.3s ease, transform 0.3s ease;
  }
  /* line 973, ../../_scss/top/top.scss */
  #aboutBusiness .inner ol li.fadeIn {
    opacity: 1;
    filter: blur(0);
    will-change: auto;
  }
  /* line 979, ../../_scss/top/top.scss */
  #aboutBusiness .inner ol li:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
  /* line 984, ../../_scss/top/top.scss */
  #aboutBusiness .inner ol li::after {
    content: "";
    position: absolute;
    top: -12px;
    left: 0;
    width: 40px;
    height: 40px;
    background: url("../../img/common/logo-ci.svg") no-repeat center/contain;
  }
  /* line 994, ../../_scss/top/top.scss */
  #aboutBusiness .inner ol li::before {
    content: counter(list-item);
    position: absolute;
    left: 20px;
    top: 8px;
    transform: translate(-50%, -50%);
    font-size: 10px;
    font-weight: 600;
    color: #0087ac;
    z-index: 1;
  }
  /* line 1006, ../../_scss/top/top.scss */
  #aboutBusiness .inner ol li h3 {
    font-weight: 600;
    font-size: 16px;
  }
  /* line 1010, ../../_scss/top/top.scss */
  #aboutBusiness .inner ol li h3 small {
    font-size: 12px;
  }
  /* line 1015, ../../_scss/top/top.scss */
  #aboutBusiness .inner ol li figure {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
  }
  /* line 1021, ../../_scss/top/top.scss */
  #aboutBusiness .inner ol li figure img {
    width: auto;
    height: 34px;
  }
  /* line 1027, ../../_scss/top/top.scss */
  #aboutBusiness .inner ol li p {
    line-height: 2.0;
    text-align: left;
    font-size: 12px;
    color: #333344;
  }
  /* line 1036, ../../_scss/top/top.scss */
  #aboutBusiness .inner > a.btnPrimary {
    position: relative;
    display: block;
    box-sizing: border-box;
    background: #0087ac;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    width: 415px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    line-height: 80px;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    transition: opacity 0.6s ease;
  }
  /* line 1052, ../../_scss/top/top.scss */
  #aboutBusiness .inner > a.btnPrimary::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: -5px 0 0;
    width: 8px;
    height: 8px;
    transition: all 0.3s;
  }
  /* line 1068, ../../_scss/top/top.scss */
  #aboutBusiness .inner > a.btnPrimary:hover {
    opacity: 0.8;
  }

  /* handledBrands setting
  ------------------------------------*/
  /* line 1081, ../../_scss/top/top.scss */
  #handledBrands {
    display: none;
    position: relative;
    padding: 80px 0;
    background: url("../../img/top/bg_brands_pc.webp") center/cover no-repeat;
  }
  /* line 1087, ../../_scss/top/top.scss */
  #handledBrands::before, #handledBrands::after {
    content: '';
    position: absolute;
    top: -33.5px;
    left: 0;
    display: block;
    width: 50%;
    height: 33.5px;
    background: url("../../img/common/line_pc.webp") center/100% 100% no-repeat;
  }
  /* line 1099, ../../_scss/top/top.scss */
  #handledBrands::after {
    top: auto;
    bottom: -33.5px;
    left: auto;
    right: 0;
    transform: rotate(180deg);
  }
  /* line 1107, ../../_scss/top/top.scss */
  #handledBrands .inner {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    text-align: center;
  }
  /* line 1113, ../../_scss/top/top.scss */
  #handledBrands .inner h2 {
    margin: 0 0 4.8vw;
    font-size: 5.3333333vw;
  }
  /* line 1117, ../../_scss/top/top.scss */
  #handledBrands .inner h2 small {
    margin: 2.666667vw 0 0;
    font-size: 3.2vw;
  }
  /* line 1123, ../../_scss/top/top.scss */
  #handledBrands .inner p {
    margin: 0 0 50px;
    line-height: 1.85;
    font-size: 14px;
  }
  /* line 1129, ../../_scss/top/top.scss */
  #handledBrands .inner ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }
  /* line 1137, ../../_scss/top/top.scss */
  #handledBrands .inner ul::after {
    content: '※五十音順';
    position: absolute;
    bottom: -40px;
    right: 30px;
    font-size: 10px;
  }
  /* line 1145, ../../_scss/top/top.scss */
  #handledBrands .inner ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    opacity: 0;
    filter: blur(10px);
    will-change: opacity, filter;
    transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: opacity 1.5s ease-out, filter 1.5s ease-out, box-shadow 0.3s ease;
  }
  /* line 1158, ../../_scss/top/top.scss */
  #handledBrands .inner ul li.fadeIn {
    opacity: 1;
    filter: blur(0);
    will-change: auto;
  }
  /* line 1164, ../../_scss/top/top.scss */
  #handledBrands .inner ul li img {
    width: auto;
    height: 25px;
    max-width: 175px;
    object-fit: contain;
    mix-blend-mode: multiply;
  }

  /* latestNews and businessCalendar (2 column layout)
  ------------------------------------*/
  /* line 1182, ../../_scss/top/top.scss */
  #latestNewsCalendar {
    display: none;
    padding: 100px 0;
  }
  /* line 1186, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    max-width: 980px;
  }
  /* line 1193, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #latestNews {
    margin: 17.5px 0 0;
    width: 45%;
    text-align: center;
  }
  /* line 1197, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #latestNews h2 {
    margin: 0 0 4.8vw;
    font-size: 5.3333333vw;
  }
  /* line 1201, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #latestNews h2 span {
    display: block;
    margin: 0 0 10px;
    font-size: 15px;
  }
  /* line 1206, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #latestNews h2 small {
    margin: 2.666667vw 0 0;
    font-size: 3.2vw;
  }
  /* line 1212, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #latestNews .newsList {
    margin: 0 0 30px;
  }
  /* line 1215, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #latestNews .newsList li {
    border-bottom: 1px solid #e3e3e3;
  }
  /* line 1218, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #latestNews .newsList li > a {
    display: flex;
    align-items: center;
    padding: 15px 0;
    gap: 5%;
    text-decoration: none;
    transition: opacity 0.3s ease;
    text-align: left;
  }
  /* line 1227, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #latestNews .newsList li > a:hover {
    opacity: 0.8;
  }
  /* line 1230, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #latestNews .newsList li > a:hover .newsThumbnail img {
    transform: scale(1.1);
  }
  /* line 1234, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #latestNews .newsList li > a:hover .newsContent span {
    color: #222;
    text-decoration: underline;
  }
  /* line 1241, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #latestNews .newsList li .newsThumbnail {
    border-radius: 5px;
    flex-shrink: 0;
    margin: 0;
    width: 110px;
    height: 83px;
    overflow: hidden;
  }
  /* line 1249, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #latestNews .newsList li .newsThumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease;
  }
  /* line 1258, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #latestNews .newsList li .newsContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 12px;
  }
  /* line 1265, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #latestNews .newsList li .newsContent time {
    position: relative;
    min-width: auto;
  }
  /* line 1268, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #latestNews .newsList li .newsContent time::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-2.5px);
    left: -10px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid #7fa329;
    display: block;
    width: 6px;
    height: 6px;
  }
  /* line 1283, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #latestNews .newsList li .newsContent span {
    line-height: 1.75;
    text-decoration: underline;
    color: #0087ac;
    transition: color 0.3s ease;
  }
  /* line 1293, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #latestNews > a {
    position: relative;
    display: block;
    background: #0087ac;
    margin: 15px auto 0;
    width: 72.72%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    transition: opacity 0.6s ease;
  }
  /* line 1306, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #latestNews > a::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: -5px 0 0;
    width: 8px;
    height: 8px;
    transition: all 0.3s;
  }
  /* line 1322, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #latestNews > a:hover {
    opacity: 0.8;
  }
  /* line 1331, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #businessCalendar {
    position: relative;
    border-radius: 20px 0 20px 0;
    background: #f9f9f9;
    padding: 50px 20px 0;
    width: 45%;
    text-align: center;
  }
  /* line 1339, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #businessCalendar::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    background: url("../../img/common/logo-ci.svg") no-repeat center/contain;
  }
  /* line 1350, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #businessCalendar h2 {
    margin: 0 0 20px;
    font-size: 20px;
  }
  /* line 1353, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #businessCalendar h2 small {
    display: block;
    margin: 10px 0 0;
    width: 100%;
    font-size: 12px;
    color: #0087ac;
  }
  /* line 1362, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #businessCalendar .businessCalendar {
    position: relative;
    background: #fff;
    padding: 25px 0 5px;
  }
  /* line 1367, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #businessCalendar .businessCalendar h3 {
    margin: 0 0 15px;
    text-align: center;
    font-size: 22px;
  }
  /* line 1372, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #businessCalendar .businessCalendar h3 small {
    font-weight: 600;
    font-size: 12px;
  }
  /* line 1378, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #businessCalendar .businessCalendar button {
    position: absolute;
    top: 150px;
    left: 0;
    transform: translateX(-70%);
    display: block;
    border: none;
    border-radius: 50%;
    background: #0087ac;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.3s;
  }
  /* line 1394, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #businessCalendar .businessCalendar button::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    margin: -5px 0 0;
    width: 8px;
    height: 8px;
    transition: all 0.3s;
  }
  /* line 1410, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #businessCalendar .businessCalendar button.btnNext {
    left: auto;
    right: 0;
    transform: translateX(70%);
  }
  /* line 1415, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #businessCalendar .businessCalendar button.btnNext::after {
    right: auto;
    left: 20px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  /* line 1424, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #businessCalendar .businessCalendar button:hover {
    background: #005f79;
  }
  /* line 1428, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #businessCalendar .businessCalendar button:disabled {
    background: #bbb;
    cursor: not-allowed;
  }
  /* line 1437, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #businessCalendar .businessCalendar .calendarLegend .legendItem {
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }
  /* line 1443, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #businessCalendar .businessCalendar .calendarLegend .legendColor {
    display: inline-block;
    width: 14px;
    height: 14px;
    font-size: 14px;
  }
  /* line 1449, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #businessCalendar .businessCalendar .calendarLegend .legendColor.holiday {
    background: #eb0c0c;
  }
  /* line 1455, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #businessCalendar .businessCalendar .calendarTable {
    margin: 0 auto 20px;
    width: 75%;
    border-collapse: separate;
    border-spacing: 6px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
  }
  /* line 1464, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #businessCalendar .businessCalendar .calendarTable th {
    box-sizing: border-box;
    width: 14%;
    padding: 10px 0;
    height: 35px;
  }
  /* line 1470, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #businessCalendar .businessCalendar .calendarTable th.sunday {
    color: #eb0c0c;
  }
  /* line 1474, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #businessCalendar .businessCalendar .calendarTable th.saturday {
    color: #0087ac;
  }
  /* line 1479, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #businessCalendar .businessCalendar .calendarTable td {
    box-sizing: border-box;
    width: 14.285714285714286%;
    vertical-align: middle;
    height: 35px;
  }
  /* line 1485, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #businessCalendar .businessCalendar .calendarTable td.empty {
    background: #fff;
  }
  /* line 1489, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #businessCalendar .businessCalendar .calendarTable td.sunday, #latestNewsCalendar .inner #businessCalendar .businessCalendar .calendarTable td.saturday {
    color: #0087ac;
    background: #f0f8ff;
  }
  /* line 1495, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #businessCalendar .businessCalendar .calendarTable td.holiday {
    background: #eb0c0c;
    color: #fff;
    font-weight: bold;
  }
  /* line 1501, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #businessCalendar .businessCalendar .calendarTable td.today {
    border: 4px solid #ffd700;
  }
  /* line 1508, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #businessCalendar .calendarInfo {
    display: flex;
    justify-content: center;
    gap: 2%;
  }
  /* line 1513, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #businessCalendar .calendarInfo .infoBox {
    width: 45.5%;
    padding: 20px 0;
    font-size: 13px;
  }
  /* line 1518, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #businessCalendar .calendarInfo .infoBox h4 {
    border-radius: 5px;
    background: #666;
    margin: 0 0 5px;
    padding: 3px;
    color: #fff;
  }
  /* line 1529, ../../_scss/top/top.scss */
  #latestNewsCalendar .inner #businessCalendar .calendarNote {
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    margin: 0 auto -20px;
    width: 340px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
  }
}
